extends layout

block content
	#content(class="col-xs-12 col-md-8")
		h1(id='page-title')= title
		
		p This is the about section. At the moment there isn't much to see. I guess, you can move along... 

block sidebar
	#sidebar(class="col-xs-12 col-md-4")
		p About sidebar
