extends layout

block content
	#content(class="col-xs-12 col-md-8")
		
		h1(id='page-title') Access Denied!

		p You do not have access to this page! If you feel this is a mistake, please contact the site administrator.