extends layout

block content
	#content(class="col-xs-12 col-md-8")
		h1(id='page-title')= title
		
		p Welcome to #{title} 

block sidebar
	#sidebar(class="col-xs-12 col-md-4")
		p Homepage sidebar


