extends profile

block content
	#content(class="col-xs-12 col-md-8")
		
		h1(id='page-title')= title

		form(class='form profile-edit', method='post')
			div(class="field-item")
				label(for='user-name') User name
				input(name='user-name', type='text', value= user.username)

			div(class="field-item")
				label(for='nickname') Nickname
				input(name='nickname', type='text', value= user.nickname)

			div(class="field-item")
				label(for='profile-bio') Mini-bio
				textarea(name='profile-bio', rows='4', cols='40')= user.biography

			div(class="field-item")
				- if (user['showemail'] == 'on')
					input(name='show-email', type='checkbox', id='show-email', checked='checked') 
					label(for='show-email') Show email
				-else
					input(name='show-email', type='checkbox', id='show-email') 
					label(for='show-email') Show email

			input(type='submit', class="form-submit")
