extends layout

block content
	#content(class="col-xs-12 col-md-8")
		h1#page-title Register
		div= req
		form(name="user-login", method="post", class="form user-form user-login-form")
			div.form-group
				span.label Username
				input(type="text", name="username", class="text-field", placeholder='Username', required, autofocus)
			div.form-group
				span.label Email address
				input(type="text", name="useremail", class="text-field", placeholder='Email', required)
			div.form-group
				span.label Password
				input(type="password", name="password", class="text-field", placeholder='Password', required)
			div.actions
				input(type="submit", value="Register", class="btn btn-primary")
		div(class="auth-options")
			a(href="/user/auth/github") GitHub
			a(href="/user/auth/bitbucket") Bitbucket