extends layout

block content
	#content(class="users-page col-xs-12 col-md-8")
		h1(id='page-title')= title

		div.profile-cards.cards
			- console.log(profiles)
			each u, index in profiles
				div.profile-card.card.col-xs-6.col-md-2
					div.card-content.clearfix
						- if (u.profile)
								- if (u.profile.github)
									div.profile-img
										a(href= '/user/'+u.user._id, class='local-profile', title='Local profile')
											img(src= u.profile.github._json.avatar_url, height=65, width=65)
									div.profile-name
										a(href= '/user/'+u.user._id, class='local-profile', title='Local profile')
											span= u.profile.github.username 
									div.profile-url
										a(href= u.profile.github.profileUrl, class='github-profile', title='GitHub profile')
											span GitHub profile 
						- else
							div.profile-img
								a(href= '/user/'+u.user._id, class='local-profile', title='Local profile')
									img(src='/images/default_profile.png', height=65, width=65)
							div.profile-name
								a(href= '/user/'+u.user._id, class='local-profile', title='Local profile')
									span= u.user.username
						div.member-since
							span member since
							span.date= u.user.created 

block sidebar
	#sidebar(class="col-xs-12 col-md-4")
		p Users sidebar


