html,
body {
	margin:0;
	padding:0;
	height:100%;
}

html body {
  padding: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  position: relative;
}
#wrapper {
	min-height: 100%;
	position:relative;
}
#main-row {
	padding-bottom: 2.5em !important;
}

p {
	margin-bottom: .5em;
	margin-top: .5em;
}
body label,
body .label {
  color: #444;
  font-size: 75%;
  line-height:1.5em;
 	padding-top: 0;
	padding-bottom: 0;
}
body #wrapper > div {
	padding-left: 15px;
	padding-right: 15px;
}
a {
	color: #66a3ff;
	font-weight: bold;
}
a:hover,
a:visited {
	color: #76b3ff;
}
#header {
	width: 100%;
	background: #0a4796;
	height: 40px;
}
#header .logo {
	float: left;
	padding-top: 7px;
	height: 30px;
	margin-top: 0;
}
#header .primary-nav {
	margin: 0 0 0 55px;
}
#header .primary-nav li {
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
}
#header .primary-nav a {
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
#messages {
	margin-top: 1em;
}
#messages ul {
	padding-left: 2em;
}
#user-info {
  padding: 5px;
  color: #fff;
  display: block;
  position: absolute;
  top: -.35em;
  right: 0;
}
#user-info > span {
	margin-right: 5px;
	display: inline-block;
	line-height: 40px;
}
#user-info a {
	color: #f4edb2;
}
.member-since {
	clear: both;
}
.member-since span {
	margin-right: .25em;
	display: block;
}

#content, #sidebar {
}

#footer {
	width: 100%;
	height: 2.5em;
	background: #f4edb2;
	border-top: 2px dotted #e4dda2;
	position: absolute;
	bottom: 0;
	left: 0;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Forms */
/* User forms */
.user-form .label {
	display: inline-block;
	min-width: 10em;
	text-align: left;
	background: #d8e8ff;
}

.user-form input.text-field {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #ccc;
	padding: 0 0 0 3px;
}

.auth-options a {
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #c0c0c0;
}
.auth-options a:last-child {
	border-right: none;
}


/* User profile cards */
.profile-cards .card {
	padding-left: 0;
	padding-bottom: 15px;
}
.profile-cards .card .card-content {
	background: #dfdfff;
	border: 1px solid #e1e1f1;
	padding: 3px;
	height: 150px;
}
/* Users page styles */
.users-page .profile-img {
	float: left;
	margin-right: .5em;
}
.users-page .profile-name,
.users-page .profile-url {
	float: left;
	clear: right;
}




/* user profile page */
.user-profile .user-img {
	float: left;
	margin-right: 1em;
}
.user-profile .user-intro .user-fields {
	margin-left: 1em;
}
.user-profile .user-bio {
	clear: both;
	padding: 1em;
	position: relative;
	top: 3em;
	border-top: 3px solid #C0C0C0;
	background: #EFEFEF;
}
.user-profile .user-bio .bio-label {
	position: absolute;
	top: 0;
	left: -2px;
	-ms-transform: translateY(-150%); /* IE 9 */
	-webkit-transform: translateY(-150%); /* Chrome, Safari, Opera */
	transform: translateY(-150%);
}



